<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/examlist.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="site-page">
        <header>
            <nav class="navbar navbar-expand-lg bg-warning">
                <div class="container-fluid">
                    <img src="/images/exam_logo.png" class="img-circle" alt="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link active" href="/home">Home</a>
                            </li>
                            <li>
                                <a class="nav-link active" href="/form1">
                                    Exam</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalCart">Profile
                                </button>
                            </li>

                            <li class="nav-item">
                                <!-- <a class="nav-link active" href="#">Logout</a> -->
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
                                    Logout
                                </button>
                            </li>
                        </ul>

                    </div>


                </div>
            </nav>

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">

                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <h3>Do you want to Logout ?</h3>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-bs-dismiss="modal">No</a>
                            <a class="btn btn-primary" href="/logout">Yes</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" id="modalCart">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <div class="info">
                                <span class="text-center">Edit form</span>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->

                        <div class="model-body">
                            <div class="card1">

                                <div class="forms" style="height: 400px;
                                overflow-y: auto;">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example8">First Name </label>

                                        <input type="text" id="first_name" name="first_name" class="form-control form-control-lg" value="<%=editdata[0].name %>" oninput="checkNameValid1(this)">
                                        <span class="text-danger" id="err_name">

                                        </span>
                                    </div>

                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example8">Email Name </label><input type="text" name="email" id="email" class="form-control form-control-lg" value="<%=editdata[0].email %>" oninput="checkEmail(this)">
                                        <span class="text-danger fs-16 m-point5 iblock " id="email_id">
                                        </span>
                                    </div>

                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example8">Contact Number </label><input type="text" class="form-control form-control-lg" name="contact" id="contact" value="<%=editdata[0].contact %>" oninput="checkContact(this)">
                                        <span class="text-danger fs-16 m-point5 iblock " id="contact_id">
                                        </span>
                                    </div>
                                    <div class="form-outline">
                                        <div class="genders">
                                            <label>Gender : </label>
                                            <%if(editdata[0].gender=='Male') { %>
                                                <label for="gender_male"> Male </label> <input type="radio" name="gender" value="Male" checked id="gender_male" onchange="checkgender(this)">
                                                <label for="gender_female" class="form-check-label">Female
                                                </label>
                                                <input type="radio" name="gender" value="Female" id="gender_female" onchange="checkgender(this)">
                                                <label for="gender_other">Other </label><input type="radio" name="gender" value="Other" id="gender_other" onchange="checkgender(this)">
                                                <% } else if (editdata[0].gender=='Female' ) {%>
                                                    <label for="gender_male"> Male </label> <input type="radio" name="gender" value="Male" id="gende_male" onchange="checkgender(this)">
                                                    <label for="gender_female">Female </label><input type="radio" name="gender" checked value="Female" id="gender_female" onchange="checkgender(this)">
                                                    <label for="gender_other">Other </label><input type="radio" name="gender" value="Other" id="gender_other" onchange="checkgender(this)">

                                                    <% } else if(editdata[0].gender=='Other' ) {%>
                                                        <label for="gender_male"> Male </label> <input type="radio" name="gender" value="Male" id="gende_male" onchange="checkgender(this)">
                                                        <label for="gender_female">Female </label><input type="radio" name="gender" value="Female" id="gender_female" onchange="checkgender(this)">
                                                        <label for="gender_other">Other </label><input type="radio" name="gender" value="Other" checked id="gender_other" onchange="checkgender(this)">
                                                        <%}%>
                                        </div>
                                    </div>

                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example8">Address </label> <input type="text" name="address" class="form-control form-control-lg" id="address" value="<%=editdata[0].address%>" oninput="checkAddress(this)">
                                        <span class="text-danger fs-16 m-point5 iblock " id="addre_err">
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <div data-bs-dismiss="modal">
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#changePassword">Change Password
                                </button>
                            </div>

                            <button id="totalSave" class="btn btn-warning" onclick="popupClick()" data-bs-dismiss="modal" oninput="checksubmit()">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" tabindex="-1" id="changePassword">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <form>
                            <div class="modal-header">
                                <div class="info">
                                    <span class="text-center">ChangePassword</span>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="popup">
                                <span class="popuptext" id="myPopup">Password is Successfully Update!</span>
                            </div>

                            <div class="model-body">
                                <div class="card1">

                                    <div class="forms" style="height: 400px;
                                    overflow-y: auto;">

                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example8">Email Name
                                            </label><input type="text" name="email" id="email" class="form-control form-control-lg" value="<%=editdata[0].email %>" oninput="checkEmail(this)" readonly>
                                            <span class="text-danger fs-16 m-point5 iblock " id="email_id">
                                            </span>
                                        </div>
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example8">Old Password
                                            </label>

                                            <input type="password" id="old_pass" name="old_pass" class="form-control form-control-lg">
                                            <span class="text-danger" id="err_old">

                                            </span>
                                        </div>
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example8"> New Password
                                            </label>

                                            <input type="password" id="save_pass" name="save_pass" class="form-control form-control-lg">
                                            <span class="text-danger" id="err_new">

                                            </span>
                                        </div>

                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example8">Confirm Password
                                            </label>

                                            <input type="password" id="save_confirm" name="save_confirm" class="form-control form-control-lg">
                                            <span class="text-danger" id="err_confirm">

                                            </span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <input type="button" onclick="validateProfilePaw()" id="passSave" class="btn btn-warning" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </header>
        <div class="popup" id="addPop">
            <!-- <span class="popuptext" id="profilePopup">Porfile is Successfully Update!</span> -->
        </div>

        <div class="bodypage">
            <section class="section1">
                <div class="container1">
                    <div class="exam-form">

                        <table border="1px solid black" class="table table-success table-striped">
                            <tr class="table-info">
                                <th>Exam ID</th>
                                <th>Exam Name</th>
                                <th>Time Duration</th>
                                <th>Total Question</th>

                                <th>Exam Status</th>
                                <th>Action</th>
                            </tr>
                            <%for(let i=0;i<sql.length;i++){%>
                                <tr>

                                    <td class="table-info">
                                        <%=sql[i].exam_id%>
                                    </td>
                                    <td class="table-info">
                                        <%=sql[i].exam_name%>
                                    </td>
                                    <td class="table-info">
                                        <%=sql[i].exam_time%>
                                    </td>
                                    <td class="table-info">
                                        <%=sql[i].total_questions%>
                                    </td>
                                    <%if(sql[i].attempted==false){%>
                                        <td class=" table-info text-success ">
                                            Unattempted
                                        </td>
                                        <td class="table-info">
                                            <a href="javascript:popupdata('')" onclick="sendfoo(this)" id="<%=sql[i].exam_id%>" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start</a>

                                        </td>
                                        <%}%>
                                            <%if(sql[i].attempted==true){%>
                                                <td class="table-info text-danger">
                                                    Attempted
                                                </td>
                                                <td class="table-info">
                                                    <a href="javascript:popupdata('')" onclick="return sendfoo(this)" id="<%=sql[i].exam_id%>" class="btn btn-success disabled" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start</a>

                                                </td>
                                                <%}%>


                                </tr>
                                <%}%>

                        </table>




                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Welcome
                                            <%=result.name%>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearf()"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" value="<%=sql[0].exam_id%>" id="id_access">
                                        <%- include('form') -%>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="clearf()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
        <footer></footer>
    </div>

    <script src="/js/exam_list.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>